.bAGyCr > :not(:first-child) {
  margin-left: -10px;
}

.cqhhpO {
  position: relative;
  height: 38px;
  width: 38px;
  z-index: 10;
  transition: all 0.12s ease-in-out 0s;
}

.cqhhpO:hover {
  z-index: 11;
  transform: translateY(-5px);
}

.tooltip {
  visibility: hidden;
  position: absolute;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 100;
  width: max-content;
}

.iHLBIg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 16px 18px 0px;
}

.bvMJFo {
  transition: opacity 0.33s ease-in-out 0s;
}
